.card-con{
    padding:20px;
    width: 80%;
    margin: 15px auto;
}
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  mat-form-field{
    margin: 15px;
  }

.content-style{
  display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
}
.content-style > * {
  box-sizing: border-box;
}
.content-style > *:not(:last-child) {
  margin-right: 100px;
}
.title{
  font-size: 15px;
  font-weight: bold;
}
.header{
  font-size: large;
  font-weight: bold;
  color: rgb(4, 58, 140);
}
.file-input{
  margin: 10px;
}
