




<mat-stepper [linear]="isLinear" #stepper class="card-con">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Personal Information</ng-template>
        <div fxLayout="row">
        <div fxFlex="80" class="p-2">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput placeholder="Surname" formControlName="surname" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Department</mat-label>
            <mat-select formControlName="department" required>
                <mat-option *ngFor="let dept of departments" [value]="dept.name" >
                  {{dept.name}}
                </mat-option>
              </mat-select>
          </mat-form-field>
         
        </div>


        

        </div>
            
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <!-- SECOND TAB -->
    <mat-step [stepControl]="secondFormGroup" label="Recipient Details">
      <form [formGroup]="secondFormGroup">
        <div fxLayout="row">
        <div fxFlex="80" class="p-2">
        <mat-form-field appearance="fill">
          <mat-label>Recipient Name</mat-label>
          <input matInput formControlName="name" placeholder="Recipient Name"
                 required>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Recipient Surname</mat-label>
            <input matInput formControlName="surname" placeholder="Recipient Surname"
                   required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Company Name</mat-label>
            <input matInput formControlName="companyName" placeholder="Company Name"
                   required>
          </mat-form-field>
          <div fxFlex="100">
            <mat-form-field appearance="fill" style="width: 70%;">
                <mat-label>Description of the payment</mat-label>
                <textarea matInput formControlName="describePayment" placeholder="Description of the payment"
                       required></textarea>
              </mat-form-field>
          </div>
          <mat-form-field appearance="fill">
            <mat-label>Date of invoice</mat-label>
            <input type="date" matInput placeholder="Date of invoice" formControlName="doi" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Date of payment requested</mat-label>
            <input type="date" matInput placeholder="Date of payment requested" formControlName="dopr" required>
          </mat-form-field>
         </div>
         <hr>
         <mat-label style="font-size: large;font-weight: bold;">Banking Details</mat-label>
         <div fxFlex="80" class="p-2">
            <mat-form-field appearance="fill">
              <mat-label>Bank Name</mat-label>
              <input matInput formControlName="bankName" placeholder="Bank Name"
                     required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Bank Account</mat-label>
                <input matInput formControlName="bankAccount" placeholder="Bank Account"
                       required>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Branch Code</mat-label>
                <input matInput formControlName="branchCode" placeholder="Branch Code"
                       required>
              </mat-form-field>
             </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="onSubmit()">Next</button>
        </div>
      </form>
    </mat-step>
    <!-- THIRD STEP -->
    <mat-step [stepControl]="secondFormGroup" label="Supporting Documents" >

        <form [formGroup]="secondFormGroup">
            <div fxLayout="row">
                <div fxFlex="80" class="p-2">
                  <mat-label class="header">Supplier Invoice</mat-label>

                  <div class="file-input">
                    <input (change)="onFileSelected()" type="file" id="file" [accept]="'.pdf'"/>
                  </div>


                     </div>
                     <div fxFlex="80" class="p-2">
                     
                            <mat-label class="header">Proof of Payment(optional)</mat-label>

                          <div class="file-input">
                            <input (change)="onFileSelected2()" type="file" id="file2" [accept]="'.pdf'"/>
                          </div>
    
                         </div>
            </div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Review<span *ngIf="role == 'manager'"> & Sign</span></ng-template>
      <div id="contentToConvert">
      <div class="card col-md-12" style="padding: 20px;">
        <mat-label class="header">Personal Details</mat-label>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p class="title">Name</p>
          </div>
          <div class="col-md-2">
            :
          </div>
          <div class="col">
            <p>{{firstFormGroup.value.name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="title">Surname</p>
          </div>
          <div class="col-md-2">
            :
          </div>
          <div class="col">
            <p>{{firstFormGroup.value.surname}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="title">Department</p>
          </div>
          <div class="col-md-2">
            :
          </div>
          <div class="col">
            <p>{{firstFormGroup.value.department}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="title">Date of payment made</p>
          </div>
          <div class="col-md-2">
            :
          </div>
          <div class="col">
            <p>{{secondFormGroup.value.dopr}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="title">Date of invoice</p>
          </div>
          <div class="col-md-2">
            :
          </div>
          <div class="col">
            <p>{{secondFormGroup.value.doi}}</p>
          </div>
        </div>
        <br>
        <mat-label class="header">Recipient Details</mat-label>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p class="title">Recipient Name</p>
          </div>
          <div class="col-md-2">
            :
          </div>
          <div class="col">
            <p>{{secondFormGroup.value.name}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="title">Recipient Surname</p>
          </div>
          <div class="col-md-2">
            :
          </div>
          <div class="col">
            <p>{{secondFormGroup.value.surname}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="title">Company Name</p>
          </div>
          <div class="col-md-2">
            :
          </div>
          <div class="col">
            <p>{{secondFormGroup.value.companyName}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="title">Description of the payment</p>
          </div>
          <div class="col-md-2">
            :
          </div>
          <div class="col">
            <p>{{secondFormGroup.value.paymentDescription}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="title">Bank Name</p>
          </div>
          <div class="col-md-2">
            :
          </div>
          <div class="col">
            <p>{{secondFormGroup.value.bankName}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="title">Bank Account</p>
          </div>
          <div class="col-md-2">
            :
          </div>
          <div class="col">
            <p>{{secondFormGroup.value.bankAccount}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="title">Branch Code</p>
          </div>
          <div class="col-md-2">
            :
          </div>
          <div class="col">
            <p>{{secondFormGroup.value.branchCode}}</p>
          </div>
        </div>
        <br>
        <mat-label class="header">Documents Uploaded</mat-label>
        <hr>
        <div class="row">
          <div class="col-md-4">
            <p class="title">Supplier invoice</p>
          </div>
          <div class="col-md-2">
            :
          </div>
          <div class="col">
            <p>fileName.pdf</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="title">Proof of payment</p>
          </div>
          <div class="col-md-2">
            :
          </div>
          <div class="col">
            <p>fileName.pdf</p>
          </div>
        </div>
        <br>
        <mat-label class="header">Sign the document</mat-label>
        <hr>
        
        <div fxLayout="row" [formGroup]="firstFormGroup" *ngIf="role == 'manager'">
          <div fxFlex="80" class="p-2">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" [value]="firstFormGroup.value.name" >
          </mat-form-field>
          <mat-form-field appearance="fill">
              <mat-label>Surname</mat-label>
              <input matInput placeholder="Surname" formControlName="surname" [value]="firstFormGroup.value.surname">
            </mat-form-field>
            <img src="../../assets/signature.png" height="30" style="border-bottom: 1px solid black;"/>
          </div>
        </div>  
      </div>
    </div>




      <div>
        <button (click)="captureScreen()" style="background-color: black;">Capture</button>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Sign & close</button>
      </div>
    </mat-step>
  </mat-stepper>