<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor03" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">          
        
        <!-- <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> -->
        <div  *ngIf="userName">
          <button *ngIf="userName" class="btn " type="submit"><mat-icon>person</mat-icon></button>
        <input class="form-control mr-sm-2" type="text" placeholder="Search" [value]="userName" disabled>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
      </div>
      </form>
    </div>
  </nav>