
<br>
<button class="btn-secondary my-2 my-sm-0" routerLink="/capture">Add Application</button>
<br><br>
<table mat-table [dataSource]="data" class="mat-elevation-z8">


    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.recipient.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Surname">
      <th mat-header-cell *matHeaderCellDef> Surname </th>
      <td mat-cell *matCellDef="let element"> {{element.recipient.surname}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Company Name">
      <th mat-header-cell *matHeaderCellDef> Company Name </th>
      <td mat-cell *matCellDef="let element"> {{element.application.companyName}} </td>
    </ng-container>
    <ng-container matColumnDef="Payment Description">
        <th mat-header-cell *matHeaderCellDef> Payment Description </th>
        <td mat-cell *matCellDef="let element"> {{element.application.paymentDescription}} </td>
      </ng-container>
      <ng-container matColumnDef="Date of payment requested">
        <th mat-header-cell *matHeaderCellDef> Date of payment requested </th>
        <td mat-cell *matCellDef="let element"> {{element.application.dopr}} </td>
      </ng-container>
      <ng-container matColumnDef="Is Signed">
        <th mat-header-cell *matHeaderCellDef> Is Signed </th>
        <td mat-cell *matCellDef="let element"> {{element.application.isSigned}} </td>
      </ng-container>
      

  
    <tr mat-header-row *matHeaderRowDef="displayedAppColumns"></tr>
    <tr mat-row (click)="clickedRows.add(row)"
    [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedAppColumns;"></tr>
  </table>
  
  